 <footer class="container-fluid">
	
	<!-- Logo -->
 	<div class="row text-center">
  		<div class="col-lg-12 my-4">
  			<a routerLink="" alt="Logo">
				<img src="assets/logo-footer.svg" alt="Logo" id="footer-logo">
			</a>
		</div>
  	</div>

 	<div class="row">
		<!-- Quick links -->
	    <div class="col-lg-4 col-md-12 quick-links">
			<h4 class="pb-2 mb-3"><img class="icon" src="assets/links.svg" alt="">Quick links</h4>
			<a routerLink="enquiries" fragment="contact" class="mr-4" [ngx-scroll-to]="'#contact'">Contact</a>
			<a routerLink="enquiries" fragment="returns" class="mr-4" [ngx-scroll-to]="'#returns'">Returns</a>
			<a routerLink="enquiries" fragment="faq" class="mr-4" [ngx-scroll-to]="'#faq'">FAQ</a>
			<a (click)="auth.login()" class="mr-4">Sign in</a>
		</div>
		
		<!-- Shopping cart -->
		<div class="col-lg-4 col-md-12">
			<h4 class="pb-2 mb-3"><img  class="icon" src="assets/cart-footer.svg" alt="">Your cart</h4>
			<p>Your cart is empty</p>
		</div>

		<!-- Subscribe to our newsletter -->
		<div class="col-lg-4 col-md-12">
			<h4 class="pb-2 mb-3"><img class="icon" src="assets/subscribe.svg" alt="">Subscribe to our newsletter</h4>

			<form>
				<div class="input-group">
					<input type="email" [(ngModel)]="email" name="email" placeholder="Email" class="form-control">
					<span class="input-group-btn">
						<input type="submit" name="commit" value="Submit" (click)="addPost()" class="btn btn-primary">
					</span> 
				</div>
			</form>
		</div>
	</div>


	<!-- Notice Links -->
	<div class="row justify-content-center">
		<div class="col col-lg-8 text-center my-4">
			
			<a routerLink="policies" fragment="conditions-of-use" class="m-3" [ngx-scroll-to]="'#conditions-of-use'">Conditions of Use</a>
			<a routerLink="policies" fragment="primary-notice" class="m-3" [ngx-scroll-to]="'#primary-notice'">Primary Notice</a>
			<a routerLink="policies" fragment="cookies-and-internet-advertising" class="m-3" [ngx-scroll-to]="'#cookies-and-internet-advertising'">Cookies & Internet Advertising</a>
			<a routerLink="enquiries" fragment="help" class="m-3" [ngx-scroll-to]="'#help'">Help</a>
			<a routerLink="enquiries" fragment="contact" class="m-3" [ngx-scroll-to]="'#contact'">Contact Us</a>

		</div>
	</div>
	
	<!-- Copyright -->
  	<div class="row text-center copyright">
  		<div class="col-lg-12 my-3">
			Copyright &copy; 2018 Guy Maston All rights reserved
		</div>
  	</div>

</footer>