<div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-light my-3">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">New Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Special Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="enquiries" fragment="faq">FAQ</a>
                </li>
            </ul>
        </div>

    </nav>

</div>