<h1 class="mb-3">Policies</h1>

<!-- Contact -->
<div class="row mb-4">

  <!-- Title -->
  <div class="col-lg-12" id="conditions-of-use">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#conditions"></use></svg>
          <span>Conditions of Use</span>
      </h4>
      <hr>
    </div>
  </div> <!-- Title -->

  <div class="col-lg-12">
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>

  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>

  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>
  </div>
 
</div> <!-- End of contact -->


<!-- Returns -->
<div class="row mb-4">

  <!-- Title -->
  <div class="col-lg-12" id="primary-notice">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#notice"></use></svg>
          <span>Primary Notice</span>
      </h4>
      <hr>
    </div>
  </div> <!-- Title -->

  <div class="col-lg-12">
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>

  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>

  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>
  </div>
 
</div> <!-- End of returns -->



<!-- Cookies & Internet Advertising -->
<div class="row mb-4">

  <!-- Title -->
  <div class="col-lg-12" id="cookies-and-internet-advertising">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#cookies"></use></svg>
          <span>Cookies & Internet Advertising</span>
      </h4>
      <hr>
    </div>
  </div> <!-- Title -->

  <div class="col-lg-12">
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non!</p>
	
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>
	
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>

  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis repellendus culpa delectus, perferendis, itaque assumenda, voluptates ullam ab tempora deleniti inventore facilis vero at vitae accusamus molestiae non! Quidem dignissimos soluta architecto sequi asperiores eaque magnam amet ullam inventore officia molestias, esse cum repudiandae similique nam voluptas voluptatem, vitae quo incidunt, sunt dolore fuga eligendi. Ab ipsa, minima possimus.</p>
	
  </div>
 
</div> <!-- End of Cookies & Internet Advertising -->

