<!-- {{cartItems | json}} -->

<div class="container">

	<!-- Title -->
	<div class="row">
		<div class="col-12">
			<div class="position-relative">
				<h1 class="mb-3 pb-2">
					<span>Your cart</span>
				</h1>
				<hr>
			</div>
		</div>
	</div>

	<!-- Cart (if logged in) --> <!--- *ngIf="auth.afAuth.authState | async; else showLogin" --->
	<div>
		<div class="row mb-4" *ngFor="let item of cartItems">
			<div class="col-sm-6 col-md-4 pb-2">
				<img src="{{item.images['550px']}}" alt="">
			</div>
			<div class="col-sm-6 col-md-8">
				<h3 class="mb-3 pb-2">{{item.title}}</h3>
				<p>{{item.description}}</p>
				<div class="row align-items-end justify-content-between">
					<div class="col-lg-2">
						<span class="reduced-price d-block">${{item.price | number : '1.2-2'}}</span>
						<del class="previous-price d-block">${{item.previous_price | number : '1.2-2'}}</del>
					</div>
					<div class="col-lg-2 pb-2">
						<!-- <label for="quantity">Quantity</label>
						<select class="form-control" id="quantity">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3" [selected]="opt.selected == true">3</option>
							<option value="4">4</option>
						</select> -->
					</div>
					<div class="col-lg-3">
						<button class="btn btn-primary" (click)="removeFromCart(item.id)">Remove from cart</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Total and proceed to checkout -->
		<div class="row text-right justify-content-end mb-5" *ngIf="cartItems.length > 0">
			<div class="col-md-3 col-sm-12 pb-2">
				Total: <strong>${{totalPrice | number : '1.2-2'}}</strong>
			</div>
			<div class="col-md-3 col-sm-12 pb-2">
				<button class="btn btn-outline-primary" routerLink="/search">Continue shopping</button>
			</div>
			<div class="col-md-3 col-sm-12 pb-2">
				<button class="btn btn-primary">Proceed to checkout</button>
			</div>
		</div>

		<div *ngIf="cartItems.length == 0">
			<p>Your cart is empty.</p>
		</div>

	</div> <!-- End of Cart (if logged in) -->
	
	<!-- Please login -->
	<ng-template #showLogin>
		<p>Please login to use cart.</p>
		<button class="btn btn-primary" (click)="auth.login()">Login with Google</button>
	</ng-template>

</div> <!-- End of container -->





	
	<!-- Item -->
<!-- 	<div class="row mb-4">
		<div class="col-lg-4 col-md-4 col-sm-6 pb-2">
			<img src="http://placehold.it/400x300" alt="">
		</div>
		<div class="col-lg-8 col-md-8 col-sm-6">
			<h3 class="mb-3 pb-2">Apple iPhone 6</h3>
			<p>A decent description belongs here, but for now this will suffice.</p>
			<div class="row align-items-end justify-content-between">
				<div class="col-lg-2">
					<span class="reduced-price d-block">$699.95</span>
					<del class="previous-price d-block">$999.95</del>
				</div>
				<div class="col-lg-2 pb-2">
					<label for="quantity">Quantity</label>
					<select class="form-control" id="quantity">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
				<div class="col-lg-3">
					<button class="btn btn-primary">Remove from cart</button>
				</div>
			</div>

		</div>
	</div> -->

	<!-- Item -->
	<!-- <div class="row mb-4">
		<div class="col-lg-4 col-md-4 col-sm-6 pb-2">
			<img src="http://placehold.it/400x300" alt="">
		</div>
		<div class="col-lg-8 col-md-8 col-sm-6">
			<h3 class="mb-3 pb-2">Apple iPhone 6</h3>
			<p>A decent description belongs here, but for now this will suffice.</p>
			<div class="row align-items-end justify-content-between">
				<div class="col-lg-2">
					<span class="reduced-price d-block">$699.95</span>
					<del class="previous-price d-block">$999.95</del>
				</div>
				<div class="col-lg-2 pb-2">
					<label for="quantity">Quantity</label>
					<select class="form-control" id="quantity">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
				<div class="col-lg-3">
					<button class="btn btn-primary">Remove from cart</button>
				</div>
			</div>

		</div>
	</div> -->
