<div class="container">

	<!-- Title -->
	<div class="row">
		<div class="col-lg-12">
			<div class="position-relative">
				<h1 class="mb-3 pb-2">
					<span>Your cart</span>
				</h1>
				<hr>
			</div>
		</div>
	</div>
	
	<!-- Item -->
	<div class="row mb-4">
		<div class="col-lg-4 col-md-4 col-sm-6 pb-2">
			<img src="http://placehold.it/400x300" alt="">
		</div>
		<div class="col-lg-8 col-md-8 col-sm-6">
			<h3 class="mb-3 pb-2">Apple iPhone 6</h3>
			<p>A decent description belongs here, but for now this will suffice.</p>
			<div class="row align-items-end justify-content-between">
				<div class="col-lg-2">
					<span class="reduced-price d-block">$699.95</span>
					<del class="previous-price d-block">$999.95</del>
				</div>
				<div class="col-lg-2 pb-2">
					<label for="quantity">Quantity</label>
					<select class="form-control" id="quantity">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
				<div class="col-lg-3">
					<button class="btn btn-primary">Remove from cart</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Item -->
	<div class="row mb-4">
		<div class="col-lg-4 col-md-4 col-sm-6 pb-2">
			<img src="http://placehold.it/400x300" alt="">
		</div>
		<div class="col-lg-8 col-md-8 col-sm-6">
			<h3 class="mb-3 pb-2">Apple iPhone 6</h3>
			<p>A decent description belongs here, but for now this will suffice.</p>
			<div class="row align-items-end justify-content-between">
				<div class="col-lg-2">
					<span class="reduced-price d-block">$699.95</span>
					<del class="previous-price d-block">$999.95</del>
				</div>
				<div class="col-lg-2 pb-2">
					<label for="quantity">Quantity</label>
					<select class="form-control" id="quantity">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
				<div class="col-lg-3">
					<button class="btn btn-primary">Remove from cart</button>
				</div>
			</div>

		</div>
	</div>


	<!-- Total and proceed to checkout -->
	<div class="row text-right justify-content-end mb-5">
		<div class="col-md-3 col-sm-12 pb-2">
			Total: <strong>$999.99</strong>
		</div>
		<div class="col-md-3 col-sm-12 pb-2">
			<button class="btn btn-outline-primary">Continue shopping</button>
		</div>
		<div class="col-md-3 col-sm-12 pb-2">
			<button class="btn btn-primary">Proceed to checkout</button>
		</div>
	</div>



