<div *ngIf="!product">
  <div class="loader"></div>
</div>

<!-- Large image thumbnail -->
<div class="row mb-2" *ngIf="product">
	<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
		<div class="img-wrapper">
			<img 
				src="{{product.images['550px']}}" alt="{{product.title}}"
				srcset="{{product.images['800px']}} 800w, {{product.images['550px']}} 550w"
				sizes="(max-width: 576px) 800px, (min-width: 577px) 550px"
				#img (load)="changeOpacity(img)"
        	>
		</div>
	</div>

	<div class="col-12 col-sm-6 col-lg-8 col-xl-9">
		<!-- Title -->
		<div class="position-relative">
			<h4 class="mb-3 pb-2">{{product.title}}</h4>
			<hr>
		</div>
		
		<!-- Product description -->
		{{product.description}}
		
		<!-- Price -->
		<div>
	      <span class="reduced-price mr-2">${{product.price | number : '1.2-2'}}</span>
	      <del class="previous-price">${{product.previous_price | number : '1.2-2'}}</del>
      	</div>

      	<!-- Add to cart button -->
      	<button class="btn btn-primary add-to-cart">Add to cart</button>
	</div>
</div>



		


<!-- You might also be interested in... -->
<!-- <div class="position-relative">
	<h4 class="mb-3 pb-2">You might also be interested in...</h4>
	<hr>
</div>

<div class="row"> -->

	<!-- Item -->
<!-- 	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
		<a href="#">
			<img src="http://placehold.it/400x300" alt="">
		</a>
		<div class="product-info">
			<h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
			<div>
				<span class="reduced-price mr-2">$699.95</span>
				<del class="previous-price">$999.95</del>
			</div>
			<button class="btn btn-primary add-to-cart">Add to cart</button>
		</div>
	</div> -->

	<!-- Item -->
<!-- 	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
		<a href="#">
			<img src="http://placehold.it/400x300" alt="">
		</a>
		<div class="product-info">
			<h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
			<div>
				<span class="reduced-price mr-2">$699.95</span>
				<del class="previous-price">$999.95</del>
			</div>
			<button class="btn btn-primary add-to-cart">Add to cart</button>
		</div>
	</div> -->

	<!-- Item -->
<!-- 	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
		<a href="#">
			<img src="http://placehold.it/400x300" alt="">
		</a>
		<div class="product-info">
			<h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
			<div>
				<span class="reduced-price mr-2">$699.95</span>
				<del class="previous-price">$999.95</del>
			</div>
			<button class="btn btn-primary add-to-cart">Add to cart</button>
		</div>
	</div> -->

	<!-- Item -->
<!-- 	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
		<a href="#">
			<img src="http://placehold.it/400x300" alt="">
		</a>
		<div class="product-info">
			<h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
			<div>
				<span class="reduced-price mr-2">$699.95</span>
				<del class="previous-price">$999.95</del>
			</div>
			<button class="btn btn-primary add-to-cart">Add to cart</button>
		</div>
	</div> -->


 
<!-- </div> -->

