<!-- Large image thumbnail -->
<div class="row mb-2" *ngIf="product">
	<div class="col-lg-5 col-md-6 mb-3">
		<img src="{{product.url}}" alt="">
	</div>

	<div class="col-lg-7 col-md-6">
		<!-- Title -->
		<div class="position-relative">
			<h4 class="mb-3 pb-2">{{product.title}}</h4>
			<hr>
		</div>
		
		<!-- Product description -->
		{{product.description}}
		
		<!-- Price -->
		<div>
	      <span class="reduced-price mr-2">${{product.price}}</span>
	      <del class="previous-price">${{product.previous_price}}</del>
      	</div>

      	<!-- Add to cart button -->
      	<button class="btn btn-primary add-to-cart">Add to cart</button>
	</div>
</div>



<!-- You might also be interested in... -->
<div class="position-relative">
	<h4 class="mb-3 pb-2">You might also be interested in...</h4>
	<hr>
</div>

<div class="row">

	<!-- Item -->
	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
		<a href="#">
			<img src="http://placehold.it/400x300" alt="">
		</a>
		<div class="product-info">
			<h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
			<div>
				<span class="reduced-price mr-2">$699.95</span>
				<del class="previous-price">$999.95</del>
			</div>
			<button class="btn btn-primary add-to-cart">Add to cart</button>
		</div>
	</div>

	<!-- Item -->
	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
		<a href="#">
			<img src="http://placehold.it/400x300" alt="">
		</a>
		<div class="product-info">
			<h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
			<div>
				<span class="reduced-price mr-2">$699.95</span>
				<del class="previous-price">$999.95</del>
			</div>
			<button class="btn btn-primary add-to-cart">Add to cart</button>
		</div>
	</div>

	<!-- Item -->
	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
		<a href="#">
			<img src="http://placehold.it/400x300" alt="">
		</a>
		<div class="product-info">
			<h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
			<div>
				<span class="reduced-price mr-2">$699.95</span>
				<del class="previous-price">$999.95</del>
			</div>
			<button class="btn btn-primary add-to-cart">Add to cart</button>
		</div>
	</div>

	<!-- Item -->
	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
		<a href="#">
			<img src="http://placehold.it/400x300" alt="">
		</a>
		<div class="product-info">
			<h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
			<div>
				<span class="reduced-price mr-2">$699.95</span>
				<del class="previous-price">$999.95</del>
			</div>
			<button class="btn btn-primary add-to-cart">Add to cart</button>
		</div>
	</div>


 
</div>