<div class="container-fluid text-xl-right text-lg-right text-md-right text-center">
	<div class="dashboard">  
		
		<!-- Contact -->
		<a routerLink="enquiries" fragment="contact">
			<svg class="icon"><use xlink:href="assets/sprite.svg#contact"></use></svg>
			<span>Contact</span>
		</a>
		
		<!-- Returns -->
		<a routerLink="enquiries" fragment="returns">
			<svg class="icon"><use xlink:href="assets/sprite.svg#returns"></use></svg>
			<span>Returns</span>
		</a>

		<!-- FAQ -->
		<a routerLink="enquiries" fragment="faq">
			<svg class="icon"><use xlink:href="assets/sprite.svg#faq"></use></svg>
			<span>FAQ</span>
		</a>

	</div> <!-- End of dashboard -->
</div> <!-- End of container-fluid -->
  			
