<form>
	<!-- Price -->
	<div class="price mb-4">
		<div class="position-relative">
			<h4 class="mb-3 pb-2">
				<span>Price</span>
			</h4>
			<hr>
		</div>

		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item4" checked>
			<label class="custom-control-label" for="item4">Under $25</label>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item3">
			<label class="custom-control-label" for="item3">$25 to $50</label>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item2">
			<label class="custom-control-label" for="item2">$50 to $250</label>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item1">
			<label class="custom-control-label" for="item1">Greater than $250</label>
		</div>

		<!-- Min and Max price -->
		<div class="form-row pt-2">
			<div class="col">
				<input type="text" class="form-control" placeholder="$ Min">
			</div>
			<div class="col">
				<input type="text" class="form-control" placeholder="$ Max">
			</div>
		</div>
	</div> <!-- End of Price -->


	<!-- Categories -->
	<div class="categories mb-4">
		<div class="position-relative">
			<h4 class="mb-3 pb-2">
				<span>Categories</span>
			</h4>
			<hr>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item11" checked>
			<label class="custom-control-label" for="item11">Checkbox 1</label>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item12">
			<label class="custom-control-label" for="item12">Checkbox 2</label>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item13">
			<label class="custom-control-label" for="item13">Checkbox 3</label>
		</div>
	</div> <!-- End of Categories -->

	<!-- Brand -->
	<div class="brand mb-4">
		<div class="position-relative">
			<h4 class="mb-3 pb-2">
				<span>Brand</span>
			</h4>
			<hr>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item7" checked>
			<label class="custom-control-label" for="item7">Apple</label>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item8">
			<label class="custom-control-label" for="item8">Samsung</label>
		</div>
		<div class="d-block custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="item9">
			<label class="custom-control-label" for="item9">Microsoft</label>
		</div>
	</div> <!-- End of Brand -->

</form>





