@import "~variables.sass"


.custom-checkbox .custom-control-input:checked~.custom-control-label::before
	background-color: $red


.custom-control-input:active~.custom-control-label::before
	background-color: #ffb3c2


h4
	border-bottom: 1px solid black

hr
	width: 60px
	float: left
	margin: 0
	position: absolute
	bottom: -2px
	border-top: 5px solid $red
	border-bottom: 0
	border-left: 0
	border-right: 0