/* You can add global styles to this file, and also import other style files */

/* Bootstrap partials (only the necessary ones) */
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/input-group';
@import '../node_modules/bootstrap/scss/custom-forms';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/utilities';


/* Global variables */
@import "~variables.sass" //must be imported on all pages that use these variables, since these values won't cascade into other stylesheets

/* Sticks footer (of variable width) to bottom of page */
#wrapper
  width: 100%
  min-height: 100vh
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: column
  flex-direction: column

main
  -webkit-flex-grow: 1
  flex-grow: 1


/* Shopping cart and search buttons */
.btn.btn-primary
	background-color: $red
	border-color: $red
	cursor: pointer

.btn.btn-primary:hover, .btn-primary:not([disabled]):not(.disabled):active
	background-color: $deep-red
	border-color: $deep-red


/* Item thumbnails */
.img-wrapper
	background: #f2f2f2
	position: relative
	width: 100%
	padding-bottom: 100%

	img
		width: 100%
		opacity: 0
		transition: 0.5s
		position: absolute
		top: 0


/* Loading icon for pages */
.loader 
	border: 8px solid #f3f3f3
	border-radius: 50%
	border-top: 8px solid $red
	width: 60px
	height: 60px
	-webkit-animation: spin 1.3s linear infinite /* Safari */
	animation: spin 1.3s linear infinite
	margin: auto

@keyframes spin 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }