<!-- Item category -->
<div class="row">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#phones"></use></svg>
          <span class="ml-2 mr-5">Mobile phones</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4">
    <a href="#">
      <img src="assets/phones/phone1.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
	      <div>
		      <span class="reduced-price mr-2">$699.95</span>
		      <del class="previous-price">$999.95</del>
	      </div>
	      <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4">
    <a href="#">
      <img src="assets/phones/phone2.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">TracFone Samsung Galaxy J3 Luna Pro 4G LTE Prepaid Smartphone</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4">
    <a href="#">
      <img src="assets/phones/phone3.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Simple Mobile Samsung Galaxy J7 Sky Pro</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4">
    <a href="#">
      <img src="assets/phones/phone4.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4">
    <a href="#">
      <img src="assets/phones/phone5.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4">
    <a href="#">
      <img src="assets/phones/phone6.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->




<!-- Item category -->
<div class="row">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#beauty"></use></svg>
          <span class="ml-2 mr-5">Beauty</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="assets/beauty/beauty1.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="assets/beauty/beauty2.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="assets/beauty/beauty2.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="assets/beauty/beauty1.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="assets/beauty/beauty2.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="assets/beauty/beauty2.jpg" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->




<!-- Item category -->
<div class="row">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#phones"></use></svg>
          <span class="ml-2 mr-5">Mobile phones</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="http://placehold.it/400x300" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="http://placehold.it/400x300" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="http://placehold.it/400x300" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->

  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-4">
    <a href="#">
      <img src="http://placehold.it/400x300" alt="">
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a href="#">Apple iPhone S6</a></h5>
        <div>
          <span class="reduced-price mr-2">$699.95</span>
          <del class="previous-price">$999.95</del>
        </div>
        <button class="btn btn-primary add-to-cart">Add to cart</button>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->




