<div *ngIf="!items">
  <div class="loader"></div>
</div>

<!-- Mobile phones -->
<div class="row" *ngIf="items">

  <!-- Title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#phones"></use></svg>
          <span class="ml-2 mr-5">Mobile phones</span>
          <a routerLink="search" [queryParams]="{ category: 'mobile-phones'}" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- Title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of filterItemsOfCategory('mobile-phones') | slice:0:6">
    <a routerLink="product/{{product.title_slug}}">
      <div class="img-wrapper">
        <img 
          src="{{product.images['550px']}}" alt=""
          srcset="{{product.images['550px']}} 550w, {{product.images['300px']}} 300w"
          sizes="(max-width: 576px) 550px, (min-width: 575px) 300px"
          #img (load)="changeOpacity(img)"
        >
      </div>
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a routerLink="product/{{product.title_slug}}">{{product.title}}</a></h5>
	      <div>
		      <span class="reduced-price mr-2">${{product.price | number : '1.2-2'}}</span>
		      <del class="previous-price">${{product.previous_price | number : '1.2-2'}}</del>
	      </div>
	      <button class="btn btn-primary add-to-cart" (click)="addToCart(product)">Add to cart</button>
    </div>
  </div>  <!-- End of item -->


</div> <!-- End of row -->




<!-- Beauty -->
<div class="row" *ngIf="items">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#beauty"></use></svg>
          <span class="ml-2 mr-5">Beauty</span>
          <a routerLink="search" [queryParams]="{ category: 'beauty'}" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of filterItemsOfCategory('beauty') | slice:0:6">
    <a routerLink="product/{{product.title_slug}}">
      <div class="img-wrapper">
        <img 
          src="{{product.images['550px']}}" alt=""
          srcset="{{product.images['550px']}} 550w, {{product.images['300px']}} 300w"
          sizes="(max-width: 576px) 550px, (min-width: 575px) 300px"
          #img (load)="changeOpacity(img)"
        >
      </div>
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a routerLink="product/{{product.title_slug}}">{{product.title}}</a></h5>
        <div>
          <span class="reduced-price mr-2">${{product.price | number : '1.2-2'}}</span>
          <del class="previous-price">${{product.previous_price | number : '1.2-2'}}</del>
        </div>
        <button class="btn btn-primary add-to-cart" (click)="addToCart(product)">Add to cart</button>
    </div>
  </div> <!-- End of item -->

</div>  




<!-- Entertainment -->
<div class="row" *ngIf="items">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#entertainment"></use></svg>
          <span class="ml-2 mr-5">Entertainment</span>
          <a routerLink="search" [queryParams]="{ category: 'entertainment'}" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of filterItemsOfCategory('entertainment') | slice:0:6">
    <a routerLink="product/{{product.title_slug}}">
      <div class="img-wrapper">
        <img 
          src="{{product.images['550px']}}" alt=""
          srcset="{{product.images['550px']}} 550w, {{product.images['300px']}} 300w"
          sizes="(max-width: 576px) 550px, (min-width: 575px) 300px"
          #img (load)="changeOpacity(img)"
        >
      </div>
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a routerLink="product/{{product.title_slug}}">{{product.title}}</a></h5>
        <div>
          <span class="reduced-price mr-2">${{product.price | number : '1.2-2'}}</span>
          <del class="previous-price">${{product.previous_price | number : '1.2-2'}}</del>
        </div>
        <button class="btn btn-primary add-to-cart" (click)="addToCart(product)">Add to cart</button>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->


<!-- Fashion -->
<div class="row" *ngIf="items">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#fashion"></use></svg>
          <span class="ml-2 mr-5">Fashion</span>
          <a routerLink="search" [queryParams]="{ category: 'fashion'}" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of filterItemsOfCategory('fashion') | slice:0:6">
    <a routerLink="product/{{product.title_slug}}">
      <div class="img-wrapper">
        <img 
          src="{{product.images['550px']}}" alt=""
          srcset="{{product.images['550px']}} 550w, {{product.images['300px']}} 300w"
          sizes="(max-width: 576px) 550px, (min-width: 575px) 300px"
          #img (load)="changeOpacity(img)"
        >
      </div>
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a routerLink="product/{{product.title_slug}}">{{product.title}}</a></h5>
        <div>
          <span class="reduced-price mr-2">${{product.price | number : '1.2-2'}}</span>
          <del class="previous-price">${{product.previous_price | number : '1.2-2'}}</del>
        </div>
        <button class="btn btn-primary add-to-cart" (click)="addToCart(product)">Add to cart</button>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->



<!-- Books -->
<div class="row" *ngIf="items">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#books"></use></svg>
          <span class="ml-2 mr-5">Books</span>
          <a routerLink="search" [queryParams]="{ category: 'books'}" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of filterItemsOfCategory('books') | slice:0:6">
    <a routerLink="product/{{product.title_slug}}">
      <div class="img-wrapper">
        <img 
          src="{{product.images['550px']}}" alt=""
          srcset="{{product.images['550px']}} 550w, {{product.images['300px']}} 300w"
          sizes="(max-width: 576px) 550px, (min-width: 575px) 300px"
          #img (load)="changeOpacity(img)"
        >
      </div>
    </a>
    <div class="product-info">
      <h5 class="mt-1"><a routerLink="product/{{product.title_slug}}">{{product.title}}</a></h5>
        <div>
          <span class="reduced-price mr-2">${{product.price | number : '1.2-2'}}</span>
          <del class="previous-price">${{product.previous_price | number : '1.2-2'}}</del>
        </div>
        <button class="btn btn-primary add-to-cart" (click)="addToCart(product)">Add to cart</button>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->



<!-- Baby -->
<div class="row" *ngIf="items">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#baby"></use></svg>
          <span class="ml-2 mr-5">Baby</span>
          <a routerLink="search" [queryParams]="{ category: 'baby'}" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of filterItemsOfCategory('baby') | slice:0:6">
      <a routerLink="product/{{product.title_slug}}">
        <div class="img-wrapper">
          <img 
            src="{{product.images['550px']}}" alt=""
            srcset="{{product.images['550px']}} 550w, {{product.images['300px']}} 300w"
            sizes="(max-width: 576px) 550px, (min-width: 575px) 300px"
            #img (load)="changeOpacity(img)"
          >
        </div>
      </a>
      <div class="product-info">
        <h5 class="mt-1"><a routerLink="product/{{product.title_slug}}">{{product.title}}</a></h5>
          <div>
            <span class="reduced-price mr-2">${{product.price | number : '1.2-2'}}</span>
            <del class="previous-price">${{product.previous_price | number : '1.2-2'}}</del>
          </div>
          <button class="btn btn-primary add-to-cart" (click)="addToCart(product)">Add to cart</button>
      </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->