<!-- Mobile phones -->
<div class="row">

  <!-- Title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#phones"></use></svg>
          <span class="ml-2 mr-5">Mobile phones</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- Title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of products; let i = index">
    <div *ngIf="product.category_slug == 'mobile-phones' && i < 6">
      <a href="#">
        <img src="{{product.url}}" alt="">
      </a>
      <div class="product-info">
        <h5 class="mt-1"><a href="#">{{product.title}}</a></h5>
  	      <div>
  		      <span class="reduced-price mr-2">${{product.price}}</span>
  		      <del class="previous-price">${{product.previous_price}}</del>
  	      </div>
  	      <button class="btn btn-primary add-to-cart">Add to cart</button>
      </div>
    </div>
  </div> <!-- End of item -->


</div> <!-- End of row -->




<!-- Beauty -->
<div class="row">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#beauty"></use></svg>
          <span class="ml-2 mr-5">Beauty</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of products">
    <div *ngIf="product.category_slug == 'beauty'">
      <a href="#">
        <img src="{{product.url}}" alt="">
      </a>
      <div class="product-info">
        <h5 class="mt-1"><a href="#">{{product.title}}</a></h5>
          <div>
            <span class="reduced-price mr-2">${{product.price}}</span>
            <del class="previous-price">${{product.previous_price}}</del>
          </div>
          <button class="btn btn-primary add-to-cart">Add to cart</button>
      </div>
    </div>
  </div> <!-- End of item -->

</div>  




<!-- Entertainment -->
<div class="row">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#phones"></use></svg>
          <span class="ml-2 mr-5">Mobile phones</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of products">
    <div *ngIf="product.category_slug == 'entertainment'">
      <a href="#">
        <img src="{{product.url}}" alt="">
      </a>
      <div class="product-info">
        <h5 class="mt-1"><a href="#">{{product.title}}</a></h5>
          <div>
            <span class="reduced-price mr-2">${{product.price}}</span>
            <del class="previous-price">${{product.previous_price}}</del>
          </div>
          <button class="btn btn-primary add-to-cart">Add to cart</button>
      </div>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->


<!-- Fashion -->
<div class="row">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#phones"></use></svg>
          <span class="ml-2 mr-5">Fashion</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of products">
    <div *ngIf="product.category_slug == 'fashion'">
      <a href="#">
        <img src="{{product.url}}" alt="">
      </a>
      <div class="product-info">
        <h5 class="mt-1"><a href="#">{{product.title}}</a></h5>
          <div>
            <span class="reduced-price mr-2">${{product.price}}</span>
            <del class="previous-price">${{product.previous_price}}</del>
          </div>
          <button class="btn btn-primary add-to-cart">Add to cart</button>
      </div>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->



<!-- Books -->
<div class="row">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#phones"></use></svg>
          <span class="ml-2 mr-5">Books</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of products">
    <div *ngIf="product.category_slug == 'books'">
      <a href="#">
        <img src="{{product.url}}" alt="">
      </a>
      <div class="product-info">
        <h5 class="mt-1"><a href="#">{{product.title}}</a></h5>
          <div>
            <span class="reduced-price mr-2">${{product.price}}</span>
            <del class="previous-price">${{product.previous_price}}</del>
          </div>
          <button class="btn btn-primary add-to-cart">Add to cart</button>
      </div>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->



<!-- Baby -->
<div class="row">

  <!-- Category title -->
  <div class="col-lg-12">
    <div class="position-relative">
      <h4 class="mb-3 pb-2">
          <svg class="category-icon"><use xlink:href="assets/sprite.svg#phones"></use></svg>
          <span class="ml-2 mr-5">Baby</span>
          <a href="#" class="see-more d-inline-block">
            <span>See more</span>
            <svg class="see-more-arrow"><use xlink:href="assets/sprite.svg#see-more"></use></svg>
          </a>
      </h4>
      <hr>
    </div>
  </div> <!-- End of category title -->


  <!-- Item -->
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 mb-4" *ngFor="let product of products">
    <div *ngIf="product.category_slug == 'baby'">
      <a href="#">
        <img src="{{product.url}}" alt="">
      </a>
      <div class="product-info">
        <h5 class="mt-1"><a href="#">{{product.title}}</a></h5>
          <div>
            <span class="reduced-price mr-2">${{product.price}}</span>
            <del class="previous-price">${{product.previous_price}}</del>
          </div>
          <button class="btn btn-primary add-to-cart">Add to cart</button>
      </div>
    </div>
  </div> <!-- End of item -->


</div> <!-- Item category -->