@import "~variables.sass"


/* Search header */
#search-header
	border-bottom: 1px solid black
	margin-bottom: 1.5rem



/* Search form */

.criteria-title
	cursor: pointer

h4
	border-bottom: 1px solid black

hr
	width: 60px
	float: left
	margin: 0
	position: absolute
	bottom: -2px
	border-top: 5px solid $red
	border-bottom: 0
	border-left: 0
	border-right: 0

.chevron
	right: 10px
	position: absolute

.chevron::before
	border-style: solid
	border-width: 4px 4px 0 0
	content: ''
	display: inline-block
	height: 13px
	width: 13px
	transform: rotate(135deg)
	transition: 0.2s

.chevron.active::before //causes the chevron to rotate
	transform: rotate(-45deg)


.radio-buttons-wrapper
	max-height: 0
	opacity: 0
	overflow: hidden
	transition: 0.2s
	padding-left: 0.2rem

.show //causes the search radio buttons to show
	max-height: 200px
	opacity: 1




.custom-control-input:active~.custom-control-label::before
	background-color: #ffb3c2

.custom-radio .custom-control-input:checked~.custom-control-label::before
	background-color: $red

.custom-control-input:checked~.custom-control-label::before
	background-color: $red


/* Search results */
.previous-price
	color: orange
	font-size: 0.8rem
    

.product-info a
	color: black
	text-decoration: none


// Pagination 
.my-pagination /deep/ .ngx-pagination .current
	background: $red
